table
{
    table-layout: fixed;
    width: 95%;
    margin-left: 5%;
}
#res_table_div
{
    width: 73%;
    padding: 0.5%;
    border: 2px solid #FF1800;
    box-shadow: 0 3px 10px #a94057;
    border-radius: 8px;
    text-align: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border-collapse: separate;
    color: darkgreen;
}
.row_res
{
    width: 100%;
    padding: 0.5%;
    border: 2px solid #FF1800;
    box-shadow: 0 3px 10px #a94057;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
}
.row_shot{
    color: #00ff00
}
.row_lose{
    color: #ae2029
}
@Media(max-width: 764px){
    #res_table_div{
        width: 95%;
    }
}